@import "~antd/dist/antd.css";

.home-title {
	display: flex;
	align-items: flex-end;
}
.home-title-avatar {
	width: 15vw;
	height: 15vw;
	margin-right: 5vw;
}
.home-title h1 {
	font-size: 4em;
	margin: 0;
}

.gh-link {
	color: inherit;
}

.credit-sep {
	padding: 0 10px;
}
